
<app-headercomponent></app-headercomponent>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Jbo Title</th>
      <th scope="col">Phone</th>
      <th scope="col">Emain</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Basant Refaat Metwally</td>
      <td>Software Developer</td>
      <td>01065692974</td>
      <td>refaatbasant2030&#64;gmail.com</td>

    </tr>
  </tbody>
</table>
<app-footercomponent></app-footercomponent>
